@import "variable";
@import "mixin";
@import "function";
@import "mintui";

body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,menu{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed}
ul,ol,menu{list-style:none}
fieldset,img{border:none}
img,object,select,input,textarea,button{vertical-align:middle}
input,textarea,select,address,caption,cite,code,dfn,em,i,b,strong,small,th,var,abbr{font-size:100%;font-style:normal}
caption,th {text-align: left;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption {display: block;}
code, kbd, pre, samp, tt { font-family: Consolas,"Courier New", Courier, monospace;}
address, cite, dfn, em, var,i {font-style: normal;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:"";content: none;}
a { 
    color:$color-grey; text-decoration:none;cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    &:link,&:visited, &:active{color: $color-link;}
    &:hover, &:focus {color:$color-hover; outline:none;}
    &,span,i,em,u,strong,b,p,img,ul,li,div,dd,dt,dl,ol,table,th,td,h1,h2,h3,h4,h5,h6,input,textarea,button,small,select {
        cursor: pointer; @include transition;
    }
}
abbr[title], acronym[title] {border-bottom: 1px dotted;cursor: help;}

html {overflow-y: scroll;font-family:STHeiti,Microsoft YaHei,Helvetica,Arial,sans-serif;-webkit-text-size-adjust: none; word-break: break-word;font-size:$font-xxxl;}
body {color: $color-grey;font-size:$font-sm;}


*, ::before, ::after{box-sizing: border-box;}
*{-webkit-user-select: text; -webkit-appearance: none;-webkit-tap-highlight-color: transparent;}

.fl{float: left;}
.fr{float: right;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
.txt-center{text-align: center;}

.txt-ell{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; display: box;-webkit-box-orient: vertical;}