// rem
$rem-only: true;
$divide: 10;
$pswWidth: 375px;

// header-color
$header-bg: #ce3d3d;

$BaseC: #555;
$LinkC: #06f;
$HoverC: #f60;
$bgC: #f5f5f5;
$borderC: #f0f0f0;
$white: white;


// font
$font: 14px;
$font-sm: 12px;
$font-xs: 10px;
$font-lg: 17px;
$font-xl: 20px;
$font-xxxl: 36px;