.list-content{
    .item{
        padding: u(0 15px);
        position: relative;
        width: 100%;
        word-wrap: break-word;
    }
    .item-cont{
        padding: u(13px 0);
        font-weight: 400;
        border-bottom: 1px solid $borderC;
        display: block;
    }
    h3{
        color: #222;
        @include font-dpr(16px, 21px);
        font-weight: 400;
        overflow: hidden;
        @include txt-line(2);
    }
    .meta{
        margin-bottom: u(6px);
        position: relative;
        @include font-dpr(13px, 18px);
        color: $BaseC;

        .name{
            color: $LinkC;
            display: inline-block;
            margin-right: u(5px);
        }
        .time{
            @include font-dpr(10px, 12px);
        }
        .tag{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}